.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  height: 10vh;
  width: auto;
}

.App-header {
  background-color: white;
  min-height: 10vh;
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #3EC9D6;
  flex-direction: row;
  padding: 5vh;
  height: 80vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.User-body {
  height: 70vh;
  width: 20vw;
  padding-right: 1%;
}

.Message-body {
  height: 70vh;
  width: 40vw;
}