.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  height: 10vh;
  width: auto;
}

.App-header {
  background-color: white;
  min-height: 10vh;
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #3EC9D6;
  height: 90vh;
  display: flex;
  flex-direction: row;
}

.Tab-body {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 5vh;
  height: 80vh;
  width: 60vw;
}

.User-body {
  height: 90%;
  width: 33%;
}

.Message-body {
  height: 90%;
  width: 66%;
}

.Tab-body {
  margin: 5%;
  height: 70%;
  width: 100%;
  max-width: 800px;
  background-color: white;

}